@using HoraCerta.Models.Shared

<div class="d-flex gap-1 justify-content-end">
    <a asp-action="@Model.BackAction" class="btn btn-outline-danger">Voltar</a>
    <button type="button" id="btnLimpar" class="btn btn-outline-warning">Limpar</button>
    <button type="submit" id="btnSubmit" class="btn btn-outline-success">@Model.ButtonText</button>
</div>